<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Coding Tracker by Mukhil</title>
    <link rel="stylesheet" href="/static/style.css">
</head>

<body>
    <h1>Coding Tracker by Mukhil</h1>
    <h2>Week 1</h2>
    <form method="POST">
        <table>
            <thead>
                <tr>
                    <th>Problem</th>
                    <th>Difficulty</th>
                    <th>Duration</th>
                    <th>Completed</th>
                </tr>
            </thead>
            <tbody>
                {% for problem in problems %}
                <tr>
                    <td>{{ problem['Problem'] }}</td>
                    <td>{{ problem['Difficulty'] }}</td>
                    <td>{{ problem['Duration'] }}</td>
                    <td><input type="checkbox" name="{{ loop.index0 }}" {% if problem['Status']=='Completed' %}checked{%
                            endif %}></td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
        <button type="submit">Save Changes</button>
    </form>
</body>

</html>